.finance{
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
    box-shadow: 1px 1px 19px #00000047;
    padding: 2rem;
}
.finance__header{
    margin: 1rem 0;
    background-color: #262626c0;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.finance__header a{
    color: #fff;
    font-weight: 500;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
.finance__header a svg{
    margin-left: 5px;
    font-size: 20px;
}
.active{
    border: none;
    background-color: rgba(255, 255, 255, 0.348);
    border-radius: 5px;
}